{% extends 'layout.html.twig' %}



{% block content %}

    <form action="?action=download" method="post">
        <input type="text" name="download" />
        <input type="submit" value="Download" />
    </form>
{% endblock %}
