{% extends 'layout.html.twig' %}



{% block content %}
    <!-- Le type d'encodage des données, enctype, DOIT être spécifié comme ce qui suit -->
    <form enctype="multipart/form-data" action="?action=upload" method="post" class="connect">
        <!-- MAX_FILE_SIZE doit précéder le champ input de type file -->
        <input type="hidden" name="MAX_FILE_SIZE" value="3000000000"/>
        <!-- Le nom de l'élément input détermine le nom dans le tableau $_FILES -->
        <label for="file">Envoyer ce fichier</label>
        <input name="userfile" type="file" id="file"/>
        <input type="text" name="name" placeholder="File Name (optional)">
        <input type="submit" value="Envoyer le fichier" />
    </form>
{% endblock %}
